.title {
  width: 100%;
  font-size: large;
  color: #292929;
  padding: 10px;
  font-weight: bolder;
}

ol#vid-list {
  margin: 0;
  padding: 0;
  background: #fff;
}

ol#vid-list li {
  list-style: none;
}

ol#vid-list li a {
  text-decoration: none;
  background-color: #fff;
  height: 90px;
  display: block;
  padding: 0px;
}

ol#vid-list li a:hover {
  background-color: #d9d9d9;
}

.vid-thumb {
  float: left;
  margin-right: 8px;
}

.active-vid {
  background: #3a3a3a;
}

@media (max-width: 960px) {
  .v-list {
    margin-top: 10px;
  }
}
